{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}
    <div id="table_wrapper">
        <div id="header">
            <div id="head1">Left</div>
            <div id="head2">Center</div>
            <div id="head3">Right Column</div>
        </div>
        <div id="tbody">
            <table>
                <tr>
                    <td class="td1">1</td><td class="td2">2</td><td class="td3">3</td>
                </tr>
                ... more rows here
            </table>
        </div>
    </div>
{% endblock %}
