<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body >
<header>
    <div id="abc">
        <nav>
            <span>
                    <img src="{{ asset('img/logoEni.jpg') }}" alt="" width="30" height="30">
                    <h3>Sortir.com</h3>
            </span>
            <ul>
                <li>
                    <a class="active" href="/">Villes</a>
                </li>

                <li>
                    <a href="#">Sites</a>
                </li>

                <li>
                    <a href="#">Accueil</a>
                </li>

                <li>
                    <a href="#">Mon Profil</a>
                </li>

                <li>
                    <a href="#">Se déconnecter </a>
                </li>
            </ul>

        </nav>

    </div>
</header>
<main>
    {% block content%}
        <div >
            <h3>Filtrer les sorties</h3>
            <p>
                <label for="site">Site : </label>
                <select name="site_choise" id="site_choice">
                    <option value="saint-herblain"> SAINT HERBLAIN</option>
                    <option value="begard"> BEGARD</option>
                </select>
            </p>
            <label for="search">Le nom de la sortie contient : </label>
            <input type="search" id="search" placeholder="Search..." >
            <br> <br>
            <label for="beginDate">Entre </label>
            <input type="date" id="beginDate">
            <label for="endDate"> et </label>
            <input type="date" id="endDate">

        </div>
        <br>

        <div>

            <input type="checkbox" name="organizer-outing"> Sorties dont je suis l'organisateur/trice
            <br>
            <input type="checkbox" name="registered-outing"> Sorties auxquelles je suis inscrit/e
            <br>
            <input type="checkbox" name="notRegistered-outing"> Sorties auxquelles je ne suis pas inscrit/e
            <br>
            <input type="checkbox" name="past-outing"> Sorties passées
        </div>
        <br>
        <div>
            <button type="button">
                Rechercher
            </button>
        </div>

        <div id="table-outing">
            <table>
                <tr>
                    <td> Nom de la sortie</td>
                    <td> Date de la sortie</td>
                    <td> Cloture</td>
                    <td> inscrits/places</td>
                </tr>


            </table>
        </div>


    {% endblock %}
</main>

<footer>
    <p> &copy;Sortir.com, {{ 'now' | date('Y') }} </p>
</footer>

</body>
</html>
